;# SS2 2.48     4/11/2020     Play at high refresh rates, since software FPS limiter is set to 60 in extcfg
; $Header: r:/prj/cam/src/RCS/cam.cfg 1.17 1999/06/28 14:38:52 mwhite Exp $

; hey, which game is this
game shock

; general configs
include_user_cfg user.cfg
editor_include_dromed_cfg dromed.cfg

; game specific paths/configs
dark_include_install_cfg darkinst.cfg
shock_include_install_cfg install.cfg

; set trait cache to include concretes
trait_cache_flags 2

sfx_vol_music -1000
game_screen_size 1024 768
sfx_channels 48
always_play_intro 
master_volume 0
sfx_device 1
game_hardware 1
game_screen_depth 32
reverse_stereo 0
sfx_vol_2d 0
gamma 1
skip_intro 
sfx_vol_3d 0
game_full_screen 1
game_screen_flags 45
d3d_driver_index 0
